.simple-panel {
    .schema-form-item {
        margin-bottom: 40px;
    }
    .select-container {
        .ant-form-item-control-input {
            width: 400px;
        }
    }
    .validation-switch-container {
        .switch {
            margin-right: 5px;
        }
    }
    .validation-fields-container {
        .small-input {
            width: 100%;
        }
    }
    .select-input-container {
        position: relative;
        width: 400px;
        margin-bottom: unset;

        .dynamic-delete-button {
            margin: 0px 8px;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    }
    .schema-last-input-container {
        margin-bottom: 50px;
    }
}
