.task-container {
    .create-schema-container {
        background: #fff;
        margin: 35px 0;
        padding: 0 40px 40px;
        border-radius: 5px;
        .container-title {
            margin-bottom: unset;
        }
        .schema-form-item {
            margin-bottom: 40px;
        }
    }
}
